// body {
//   padding: 50px;
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
// }
//
// a {
//   color: #00B7FF;
// }
//

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}
.container {
    padding: 80px 120px;
}

.section-color-1 {
  background-color: grey;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    padding-top: 50px;
    /*webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); /* make all photos black and white*/
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}

#home {
  background-color: #000000;
}

.home {
  /*position: relative;*/
  background: grey;
  width: 100%;
  /*width: 1200px;
  height: 1000px;*/
}
.my-brand {
  font-size: 24px;
  /*font-family: 'Nunito', sans-serif;*/
  font-family: 'Permanent Marker', cursive;
  /*color: hsl(.2, 40.3%, 48.6%); /* from guitar */
  /*font-family: 'Shrikhand', cursive;*/
  /*font-family: 'Special Elite', cursive;*/
  /*font-family: 'Rock Salt', cursive;font-family: 'Special Elite', cursive;*/
}

.my-navbar {
  /*font-family: 'Permanent Marker', cursive;*/
  /*color: hsl(33.2, 40.3%, 48.6%); /* from guitar */
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.my-carousel-textbox {
  background-color: rgba(0,0,0,0);
  /*background-color: green;*/
  position: absolute;
  top: 60px;
  right: 60px;
  width: 500px;
}

.my-carousel-textbox h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  /*font-family: 'Rock Salt', cursive;font-family: 'Special Elite', cursive;*/
  font-size: 600%;

  color: hsl(33.2, 40.3%, 48.6%); /* from guitar */
  /*color: hsl(50, 10%, 50%);/*color: #35302C; from background*/
  /*color: hsla(5, 50%,47%, 0.9);*/
  /*color: hsla(200, 30%,50%, 0.8);*/

  /*color: rgba(255,255,255, 0.9);*/
  /*color: white;*/
  /*transform: rotatez(5deg);*/
}

.about p {
  text-align: left;
}

.shop-container {
  /*margin-left: 0px;
  margin-right: 0px;*/
  padding-left: 0px;
  padding-right: 0px;
}

.album-panel {
  cursor: pointer;
  width: 30%;
  height: 350px;
  float: left;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.album-col-clear {
  clear: both;
}

.album-image {
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.album-caption {
  // position: absolute;
  // left: 0;
  // z-index: 100;

  // font-family: Tahoma;
  // font-size: .5em;
  font-family: Tahoma;
  font-size: .5em;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 15px;


}

.album-panel:hover .album-fade-caption {
  opacity: 1;
}




.test-color {
  /*background-color: green;*/
}
